# Dependencies
**/node_modules
**/dist
**/build

# Frontend (Next.js)
frontend/.next/
frontend/out/
frontend/.env*.local
frontend/next-env.d.ts

# Hardhat / Solidity
cache/
artifacts/
ignition/deployments/
typechain/
coverage/
coverage.json

# Environment variables
.env
.env.local
...

# Logs, Editor files, OS files, dll
